<%- include('../partials/header') %>

<% posts.forEach(function(p) { %>
    <br>
    <section class="container" id="index-page">
        <div class="user">
            <div class="userimg"><img src="<%= p.userAvatar %>"></div>
            <div class="username"><%= p.userName %></div>
        </div>
        <div class="index-page-review">
            <div><%= p.rating %> Stars</div>
            <div><%= p.legRoom %></div>
            <div class="review-content"><%= p.content %></div>
        </div>
        <div>
            <div><img class="img-thumbnail" src="<%= p.airlineIcon %>"></div>
            <div><h4><%= p.airlineName %></h4></div>
        </div>
        <div><a href="/posts/<%= p._id %>">Post Details</a></div>
    </section>
    <br>
<% }); %>

<%- include('../partials/footer') %>