<%- include('../partials/header') %>

<section id="show-page">
    <div>User Avatar: </div>
    <div><img src="<%= post.userAvatar %>"></div>
    <div>User Name: </div>
    <div><%= post.userName %></div>
    <div>Airline Name: </div>
    <div><%= post.airlineName %></div>
    <div>Airline Logo: </div>
    <div><img src="<%= post.airlineIcon %>"</div>
    <div>Legroom: </div>
    <div><%= post.legRoom %></div>
    <div>Rating: </div>
    <div><%= post.rating %></div>
    <div>Review: </div>
    <div><%= post.content %></div>
</section>

<br><br><h2>Comments</h2>

<% if (post.comments.length) { %>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
          <th>Comment</th>
          <th>Rating</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% post.comments.forEach(function(c) { %>
          <tr>
            <td class="comment-user"><img src="<%= c.userAvatar %>" alt="avatar" referrerpolicy="no-referrer"> <%= c.userName %></td>
            <td><%= c.createdAt.toLocaleDateString() %></td>
            <td><%= c.content %></td>
            <td><%= c.rating %></td>
            <td>
                <% if (user?._id.equals(c.user)) { %>
                  <form action="/comments/<%= c._id %>?_method=DELETE" method='POST'>

                    <button type="submit">Delete </button>
                  </form>
                <% } %>
            </td>
            <td>
                <% if (user?._id.equals(c.user)) { %>
                    <form action="/comments/<%= c._id %>?_method=PUT" method='POST'>
                        <label>Content</label>
                        <input type="text" name="content" value="<%= c.content %>">
                        <label>rating</label>
                        <select name="rating" value="<%= c.rating %>">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5" selected>5</option>
                          </select>
                        <button type="submit">Update Comment</button>
                    </form>
                  <% } %>
            </td>
          </tr>
        <% }); %>
        <tr>
          <td colspan="2"></td>
        </tr>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Comments Yet</h5>
  <% } %>


<br><br><h2>Add Comments</h2>
<% if (user) { %>
  <form id="add-comment-form" method="POST"
    action="/posts/<%= post._id %>/comments">
    <label>Comment:</label>
    <textarea name="content"></textarea>
    <label>Rating:</label>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5" selected>5</option>
    </select>
    <input type="submit" value="Add Comment">
  </form>
<% } %>

<%- include('../partials/footer') %>
