<%- include('../partials/header') %>

<hr class="line">

<section id="show-page" class="container">
    <div>User Avatar: </div>
    <div><img class="img-thumbnail" src="<%= post.userAvatar %>"></div>
    <div>User Name: </div>
    <div><%= post.userName %></div>
    <div>Airline Name: </div>
    <div><%= post.airlineName %></div>
    <div>Airline Logo: </div>
    <div><img class="img-thumbnail" src="<%= post.airlineIcon %>"></div>
    <div>Legroom: </div>
    <div><%= post.legRoom %></div>
    <div>Rating: </div>
    <div><%= post.rating %></div>
    <div>Review: </div>
    <div><%= post.content %></div>
</section>

<hr class="line">

<h2>Comments</h2>

<% if (post.comments.length) { %>
    <table colspan="2" class="table table-dark table-bordered">
      <thead class="table-heading">
        <tr>
            <th>User</th>
            <th>Date</th>
            <th>Comment</th>
            <th>Rating</th>
            <% post.comments.forEach(function(c) { %>
                <% if (user?._id.equals(c.user)) { %>
                    <th>Delete</th>
                    <th>Update Comment?</th>
                <% } %>
            <% }); %>
        </tr>
      </thead>
      <tbody class="table-content">
        <% post.comments.forEach(function(c) { %>
          <tr>
            <td>
                <div class="comment-user">
                    <img src="<%= c.userAvatar %>" alt="avatar" referrerpolicy="no-referrer"> <%= c.userName %>
                </div>
            </td>
            <td><%= c.createdAt.toLocaleDateString() %></td>
            <td><%= c.content %></td>
            <td><%= c.rating %></td>
            <% if (user?._id.equals(c.user)) { %>
                <td>
                  <form class ="form-control" id="delete-btn" action="/comments/<%= c._id %>?_method=DELETE" method='POST'>
                    <button class="btn btn-danger" type="submit">Delete </button>
                  </form>
                </td>
            <% } %>
            <% if (user?._id.equals(c.user)) { %>
                <td>
                    <form id="add-comment-form" action="/comments/<%= c._id %>?_method=PUT" method='POST'>
                        <label>Content</label>
                        <input type="text" name="content" value="<%= c.content %>">
                        <label>Rating</label>
                        <select name="rating" value="<%= c.rating %>" class="input-group-text">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5" selected>5</option>
                          </select>
                        <button class="btn btn-warning" type="submit" >Update Comment</button>
                    </form>
                </td>
            <% } %>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Comments Yet</h5>
  <% } %>

<hr class="line">

<h2>Add Comments</h2>
<% if (user) { %>
  <form id="add-comment-form" class="add-comment" method="POST"
    action="/posts/<%= post._id %>/comments">
    <label>Comment:</label>
    <textarea name="content" class="input-group-text"></textarea>
    <label>Rating:</label>
    <select name="rating" class="input-group-text">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5" selected>5</option>
    </select>
    <input type="submit" value="Add Comment" class="input-group-text add-comment-button">
  </form>
<% } %>

<%- include('../partials/footer') %>
